<template>
  <div class="product-card">
    {{ msg }}
  </div>
</template>

<script>
export default {
  name: "ProductCard",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less"></style>
